<form class="row" [formGroup]="form" (submit)="addUser()">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="row align-items-center h-100">
          <div class="col-md-6">
            <nb-user size="xlarge" name="{{form.value?.fullName}}" title="{{currentSubjects}}"> </nb-user>
          </div>
          <div class="col-md-6 mx-auto">
            <div class="text-right">
              <button class="btn btn-info" type="button" (click)="addPhoto($event)">Add Photo</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Basic Information</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="fullName">Full Name (required)</label>
          <input
            nbInput
            type="text"
            class="form-control"
            formControlName="fullName"
            id="fullName"
            placeholder="Full Name"
            [status]="f.fullName.invalid && f.fullName.touched ? 'danger' : null"
          />
          <ng-container *ngIf="f.fullName.invalid && f.fullName.touched">
            <p class="error-message" *ngIf="f.fullName.errors?.required">
              Name is required!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="email">Email address (required)</label>
          <input type="hidden" id="_id" formContolName="_id">
          <input
            nbInput
            type="email"
            class="form-control"
            formControlName="email"
            id="email"
            placeholder="Email"
            [status]="f.email.invalid && f.email.touched ? 'danger' : null"
          />
          <ng-container *ngIf="f.email.invalid && f.email.touched">
            <p class="error-message" *ngIf="f.email.errors?.required">
              Email is required!
            </p>
          </ng-container>
          <ng-container *ngIf="f.email.invalid && f.email.touched">
            <p class="error-message" *ngIf="f.email.errors?.pattern">
              Please provide a valid email!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="roles">User roles (required)</label>
          <select formControlName="roles" id="roles" multiple class="form-control" placeholder="Please select user roles">
            <option value="User">User</option>
            <option value="Instructor">Instructor</option>
            <option value="Student">Student</option>
            <option value="Admin">Admin</option>
          </select>
          <ng-container *ngIf="f.roles.invalid && f.roles.touched">
            <p class="error-message" *ngIf="f.roles.errors?.required">
              Please choose at least one user role!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
            <label for="subjects">User subjects (required)</label>
            <select formControlName="subjects" id="subjects" multiple class="form-control" placeholder="Please select user roles">
              <option *ngFor="let subject of subjects" value="{{subject._id}}">{{subject.name}}</option>
            </select>
            <ng-container *ngIf="f.subjects.invalid && f.subjects.touched">
              <p class="error-message" *ngIf="f.subjects.errors?.required">
                Please choose at least one subject for the user!
              </p>
            </ng-container>
          </div>
      </nb-card-body>
      <nb-card-footer>
        <h6 class="card-subtitle mb-2 text-muted">The default password of the user will be "12345678"</h6>
      </nb-card-footer>
    </nb-card>
    <nb-card>
      <nb-card-header>Work & Education Information</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="school">School</label>
          <input type="text" class="form-control" formControlName="school" id="school" placeholder="School" />
        </div>
        <div class="form-group">
          <label for="period">Education Period</label>
          <input
            nbInput
            placeholder="Education Period"
            formControlName="educationPeriod"
            [nbDatepicker]="rangepicker"
            id="period"
            [status]="f.educationPeriod.invalid && f.educationPeriod.touched ? 'danger' : null"
          />
          <ng-container *ngIf="f.educationPeriod.invalid && f.educationPeriod.touched">
            <p class="error-message" *ngIf="f.educationPeriod.errors?.nbDatepickerParse">
              Please provide a valid date range if any!
            </p>
          </ng-container>
          <nb-rangepicker #rangepicker></nb-rangepicker>
        </div>
        <div class="form-group">
          <label for="university">University</label>
          <input
            type="text"
            class="form-control"
            formControlName="university"
            id="university"
            placeholder="University"
          />
        </div>
        <div class="form-group">
          <label for="work">Work</label>
          <input type="text" class="form-control" formControlName="work" id="work" placeholder="Work" />
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Contact Information</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="facebook">Facebook</label>
          <input
            nbInput
            type="text"
            class="form-control"
            formControlName="facebook"
            id="facebook"
            placeholder="Facebook"
            [status]="f.facebook.invalid && f.facebook.touched ? 'danger' : null"
          />
          <ng-container *ngIf="f.facebook.invalid && f.facebook.touched">
            <p class="error-message" *ngIf="f.facebook.errors?.pattern">
              Please provide a valid Facebook link if any!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="linkedin">Linkedin</label>
          <input
            nbInput
            type="text"
            class="form-control"
            formControlName="linkedin"
            id="linkedin"
            placeholder="Linkedin"
            [status]="f.linkedin.invalid && f.linkedin.touched ? 'danger' : null"
          />
          <ng-container *ngIf="f.linkedin.invalid && f.linkedin.touched">
            <p class="error-message" *ngIf="f.linkedin.errors?.pattern">
              Please provide a valid LinkedIn link if any!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            nbInput
            type="text"
            class="form-control"
            formControlName="phone"
            id="phone"
            placeholder="Phone"
            [status]="f.phone.invalid && f.phone.touched ? 'danger' : null"
          />
          <ng-container *ngIf="f.phone.invalid && f.phone.touched">
            <p class="error-message" *ngIf="f.phone.errors?.pattern">
              Please provide a valid phone number if any!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" formControlName="country" id="country" placeholder="Country" />
        </div>
        <div class="form-group">
          <label for="town">Town</label>
          <input type="text" class="form-control" formControlName="town" id="town" placeholder="Town" />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" formControlName="address" id="address" placeholder="Address" />
        </div>
        <div class="form-group">
            <label for="info">Additional info</label>
            <textarea class="form-control" formControlName="info" id="info" placeholder="Additional Info"></textarea>
        </div>
        <div class="text-center">
          <button hero type="submit" class="btn btn-danger" [disabled]="this.form.invalid">Save User</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</form>
